## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [31]:
# Your code here
sample_list_1 = random.sample(range(100), k = 80)

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [32]:
# Your code here
set1 = set(sample_list_1)
len(set1)

#The length is still 80 because the random.sample method generates a list of unique values

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(101))
    
len(sample_list_2)

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [38]:
# Your code here

set2 = set(sample_list_2)
len(set2)

##The length is different now because the random.randrange method generates a list of random values that are not unique

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [41]:
# Your code here

set3 = set()

for element in set1:
    if element not in set2:
        set3.add(element)
set3

{1,
 2,
 3,
 13,
 14,
 15,
 16,
 21,
 27,
 28,
 31,
 32,
 33,
 34,
 35,
 38,
 45,
 46,
 49,
 54,
 55,
 62,
 63,
 67,
 74,
 78,
 83,
 85,
 86,
 87,
 89,
 90,
 93,
 97}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [43]:
# Your code here

set4 = set()

for element in set2:
    if element not in set1:
        set4.add(element)
set4

{6, 17, 25, 37, 48, 53, 57, 69, 98, 100}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [44]:
# Your code here
set5 = set()

for element in set1:
    if element in set2:
        set5.add(element)
set5

{4,
 5,
 9,
 10,
 11,
 12,
 18,
 19,
 23,
 24,
 26,
 29,
 30,
 36,
 39,
 40,
 41,
 42,
 43,
 44,
 50,
 51,
 52,
 58,
 59,
 60,
 61,
 64,
 66,
 68,
 70,
 72,
 73,
 76,
 77,
 79,
 80,
 81,
 82,
 84,
 88,
 92,
 94,
 95,
 96,
 99}

#### 8 - Create an empty set called `set6`.

In [45]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
# Your code here
set6.update(set3, set5)
set6

{1,
 2,
 3,
 4,
 5,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 21,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 49,
 50,
 51,
 52,
 54,
 55,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 66,
 67,
 68,
 70,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 99}

#### 10 - Check if `set1` and `set6` are equal.

In [49]:
# Your code here
if set1 == set6:
    print('They are equal.')
else:
    print('They are different')

They are equal.

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [55]:
# Your code here
if set2.issubset(set1) == True:
    print("set1 contains set2")
else:
    print("set1 does not contains set2.")

if set3.issubset(set1) == True:
    print("set1 contains set3")
else:
    print("set1 does not contains set3.")

set1 does not contains set2
set1 contains set3

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [57]:
# Your code here
set7 = set()
set7.union(set3, set4, set5)

set8 = set()
set8.union(set1, set2)

if set7 == set8:
    print('They are equal.')
else:
    print('They are different')

They are equal.

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
set1.pop()

1

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [62]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)

print(set1)

{2, 3, 4, 5, 10, 12, 13, 14, 15, 16, 18, 23, 24, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 50, 52, 54, 55, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [63]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [80]:
# Your code here
distinct_set = set()
father_set = set(father_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
mother_set = set()
Mattia_set = set()

distinct_set.union(father_set, Jo_set, Carlos_set)

{'blueberries',
 'cherries',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'onions',
 'sugar',
 'toilet paper',
 'tomatoes',
 'water',
 'watermelon',
 'yogurt'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [81]:
# Your code here
Mattia_set = Carlos_set.symmetric_difference(Jo_set)
Mattia_set

{'cherries',
 'cucumber',
 'flour',
 'gums',
 'juice',
 'milk',
 'sugar',
 'toilet paper',
 'water',
 'watermelon',
 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [82]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['deodorant', 'gums', 'chocolate', 'deodorant', 'vinegar', 'cherries', 'sugar', 'blueberries', 'toilet paper', 'milk']

In [83]:
# Your code here
mother_set = set(mother_list)
mother_set

{'blueberries',
 'cherries',
 'chocolate',
 'deodorant',
 'gums',
 'milk',
 'sugar',
 'toilet paper',
 'vinegar'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [96]:
# Your code here
new_set = set()
new_list = []
new_list = new_set.union(mother_set, father_set, Carlos_set, Jo_set, Mattia_set)
print(new_list)
                
for item in new_list: 
    if item == 'toilet paper':
        new_set.discard(item)

{'tomatoes', 'sugar', 'vinegar', 'garlic', 'toilet paper', 'watermelon', 'chocolate', 'gums', 'milk', 'yogurt', 'juice', 'deodorant', 'onions', 'blueberries', 'flour', 'cucumber', 'cherries', 'water'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [107]:
# Your code here
sets = set()

sets = sets.union(mother_set, father_set, Carlos_set, Jo_set, Mattia_set)

sets

{'blueberries',
 'cherries',
 'chocolate',
 'cucumber',
 'deodorant',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'onions',
 'sugar',
 'toilet paper',
 'tomatoes',
 'vinegar',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [108]:
# Your code here
arbitrary_choices = []

for i in range(5):
    arbitrary_choices.append(sets.pop())

arbitrary_choices

['tomatoes', 'sugar', 'vinegar', 'garlic', 'toilet paper']